includeFile= HUtoMaterialSchneider.txt

####################################
# Including DICOM file for patient #
####################################
s:Ge/Patient/Parent                                = "World"
s:Ge/Patient/Material                              = "G4_WATER"
s:Ge/Patient/Type                                  = "TsDicomPatient"
s:Ge/Patient/ImagingtoMaterialConverter            = "Schneider"
d:Ge/Patient/RotX = {{ patient_pitch }}
d:Ge/Patient/RotY = 0. deg
d:Ge/Patient/RotZ = {{ patient_yaw }}
s:Ge/Patient/DicomDirectory = "{{ dicom_directory }}"
sv:Ge/Patient/DicomModalityTags                    = 1 "CT"
b:Ge/Patient/IgnoreInconsistentFrameOfReferenceUID = "True"

#isocenter
dc:Ge/IsocenterX = {{ isocenter_x }}
dc:Ge/IsocenterY = {{ isocenter_y }}
dc:Ge/IsocenterZ = {{ isocenter_z }}

dc:Ge/Patient/UserTransX = {{ patient_shift_x }}
dc:Ge/Patient/UserTransY = {{ patient_shift_y }}
dc:Ge/Patient/UserTransZ = {{ patient_shift_z }}

d:Ge/Patient/InterX = Ge/IsocenterX + Ge/Patient/UserTransX mm
d:Ge/Patient/InterY = Ge/IsocenterY + Ge/Patient/UserTransY mm
d:Ge/Patient/InterZ = Ge/IsocenterZ + Ge/Patient/UserTransZ mm

dc:Ge/Patient/DicomOriginX = 0.0 mm
dc:Ge/Patient/DicomOriginY = 0.0 mm
dc:Ge/Patient/DicomOriginZ = 0.0 mm

dc:Ge/Patient/TransX  = Ge/Patient/DicomOriginX - Ge/Patient/InterX mm
dc:Ge/Patient/TransY  = Ge/Patient/DicomOriginY - Ge/Patient/InterY mm
dc:Ge/Patient/TransZ  = Ge/Patient/DicomOriginZ - Ge/Patient/InterZ mm

#####################
# Dose calculation  #
##Scoring###########################################
s:Sc/DoseOnRTGrid100kz17/Quantity                    = "DoseToMedium"
s:Sc/DoseOnRTGrid100kz17/Component                   = "Patient"
s:Sc/DoseOnRTGrid100kz17/IfOutputFileAlreadyExists   = "Overwrite"
s:Sc/DoseOnRTGrid100kz17/OutputType                  = "DICOM" 
s:Sc/DoseOnRTGrid100kz17/OutputFile                  = "{{ output_filename }}"
b:Sc/DoseOnRTGrid100kz17/DICOMOutput32BitsPerPixel   = "True"
